{% extends "./modules/layout.html" %}

{% block head -%}
  <title>{{ categoryName }} - {{ site.title }}</title>
  <meta property="title" content="{{ categoryName }} - {{ site.title }}" />
  <meta property="og:title" content="{{ categoryName }} - {{ site.title }}" />
{%- endblock %}

{% block content %}
  {% include "./modules/category-filter.html" %}
  <div class="mb-3">
    {% for post in posts %}
      {% include "./modules/post-card.html" %}
    {% endfor %}
  </div>
  {% if posts.length === 0 %}
    <div class="py-2 flex items-center justify-center">
      <span class="text-sm font-light">当前类别暂无文章</span>
    </div>
  {% endif %}
  {% include "./modules/pagination.html" %}
{% endblock %}