<header
  class="header sticky top-0 z-10 flex py-2 overflow-hidden border-b bg-gray-100"
>
  <div class="container mx-auto flex h-full justify-between">
    <div class="flex h-full items-center gap-3">
      <div class="h-full">
          <div class="w-8 h-8 rounded-full overflow-hidden">
            <img src="{{ site.icon }}" alt="Logo" class="h-full w-auto" />
          </div>
      </div>
      <div id="site-title"><i class="fa-solid fa-house-chimney mr-2"></i><a href="/">{{ site.title }}</a></div>
      <div class="hidden md:block">
        <ul class="flex gap-3">
          {% for item in site.menus %}
            <li><a href="{{item.slug}}" target="{{ item.target }}" class="hover:text-blue-500">{{ item.title }}</a>
              {% if item.target %}
                <i class="text-sm fa-solid fa-arrow-up-right-from-square"></i>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="md:hidden flex items-center">
      <ul class="flex items-center gap-3">
        <li class="cursor-pointer" id="btn-mobile-nav">导航</li>
      </ul>
    </div>
  </div>
  <div id="mobile-nav" class="hidden">
    <div
      class="fixed inset-0 z-50 opacity-100 backdrop-blur-sm bg-white/80"
      aria-hidden="true"
    ></div>
    <div
      class="fixed inset-x-4 top-8 z-50 origin-top scale-100 rounded p-4 bg-pure-black-200"
      tabindex="-1"
      @click.outside="open = false"
    >
      <div class="flex flex-row-reverse items-center justify-between">
        <button
          class="text-sm"
          type="button"
          tabindex="0"
          id="btn-mobile-close"
        >关闭</button>
      </div>
      <ul>
        {% for item in site.menus %}
          <li>
            <a
              class="flex items-center justify-between gap-1 py-2 border-b"
              href="{{item.slug}}"
              target="{{ item.target }}"
            >
              {{ item.title }}
              {% if item.target %}
                <i class="text-sm fa-solid fa-arrow-up-right-from-square"></i>
              {% endif %}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</header>
